/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #f09a3e;
  --hover-color: #ffb74d;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  /* background-color: var(--main-color); */
  /* height: 100vh; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Header */
header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 12px 46px -3px rgb(0 0 0 / 10%);
  position: relative;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .menu-icon,
header .menu .close {
  display: none;
}

@media (max-width: 768px) {
  header .menu-icon {
    display: block;
  }
}

header .menu-icon i {
  font-size: 25px;
}

header .menu {
  width: 30%;
  transition: all 0.5s;
}

header .menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu ul li a {
  color: #000;
  transition: all 0.3s;
}

header .menu ul li a:hover {
  color: var(--main-color);
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }

  header .menu {
    display: block;
    height: 100vh;
    width: 60%;
    position: fixed;
    left: -70%;
    top: -10px;
    background-color: #fff;
    box-shadow: 0px 12px 46px -3px rgb(0 0 0 / 10%);
  }

  header .menu.active {
    left: 0;
  }

  header .menu .close {
    display: block;
    position: absolute;
    top: 22px;
    left: 12px;
    font-size: 26px;
    color: #f44336;
  }

  header .menu ul {
    display: block;
    padding: 15px;
    margin-top: 15px;
  }

  header .menu ul li {
    margin-top: 10px;
  }
}

/* Dropdwn Menu */
header .menu ul li:nth-of-type(2) ul {
  position: absolute;
  background-color: #fff;
  top: 57px;
  left: 0;
  padding: 10px;
  width: 150px;
  box-shadow: 0px 12px 46px -3px rgb(0 0 0 / 10%);
  border-radius: 3px;
  display: none;
  transition: 0.3s;
}

header .menu ul li:nth-of-type(2):hover ul {
  display: block;
}

header .menu ul li:nth-of-type(2) ul::before {
  content: "";
  display: block;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .menu ul li:nth-of-type(2) ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  header .menu ul li:nth-of-type(2) ul {
    display: block;
    position: relative;
    top: -20px;
    left: -20px;
    box-shadow: none;
    background-color: transparent;
  }

  header .menu ul li:nth-of-type(2) ul::before {
    display: none;
  }
}

/* End Header */

/* Start About */
.about {
  margin-top: 50px;
  text-align: center;
}

.about h2 {
  color: var(--hover-color);
}

.about p {
  line-height: 2;
}
/* End About */

/* Start Footer */
footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 15px;
  margin-top: 50px;
}
/* End Footer */
